
.sort_area {
  /* margin: 0 auto !important;  */
  padding: 10px 0;
}
.select_box {
  /* margin-right: 10px !important;  */
  margin-bottom: 5px; 
  margin-left: 12px;
}
.container {
  padding: 20px;
  padding-top: 0;
  margin: 0 auto;
}
.photos {
  padding:10px;
  position: relative;

}
.img {
  border-radius: 20px;  
  width: 100%;
}

.pagination {
  text-align:center;
}

@media ( min-width: 600px ) {
  .sort_area {
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .select_box {
    margin-right: 10px !important; 
  }
  .container {
    column-count: 2;
    margin: 0 auto;
    padding: 30px;
    padding-top: 0;

  }
  .photos {
    break-inside: avoid; /* こいつが肝 */
    padding:10px;
    position: relative;
  }
  .img {
    border-radius: 20px;  
  }
}

@media ( min-width: 850px ) {
  .sort_area {
    padding-left: 30px;
  }
  .select_box {
    margin: 5px;
  }
  .container {
    column-count: 3;
    margin: 0 auto;
    padding: 30px;
    padding-top: 0;
  }
  .photos {
    break-inside: avoid; /* こいつが肝 */
    padding:10px;
    position: relative;
  }
  .img {
    border-radius: 20px;  
  }
}

@media ( min-width: 1150px ) {
  .sort_area {
    padding-left: 30px;
  }
  .select_box {
    margin: 5px;
  }
  .container {
    column-count: 4;

    margin: 0 auto;
    padding: 30px;
    padding-top: 0;
  }
  .photos {
    break-inside: avoid; /* こいつが肝 */
    padding:10px;
    position: relative;
  }
  .img {
    border-radius: 20px;  
  }
}
@media ( min-width: 1500px ) {
  .sort_area {
    padding-left: 30px;
  }
  .select_box {
    margin: 5px;
  }
  .container {
    column-count: 5;
    max-width: 1800px;
    margin: 0 auto;
    padding: 30px;
    padding-top: 0;
  }
  .photos {
    break-inside: avoid; /* こいつが肝 */
    padding:10px;
    position: relative;
  }
  .img {
    border-radius: 20px;  
  }
}