/* 以下モーダルウィンドウのCSS */
#login_modal {
  /*　画面全体を覆う設定　*/
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:99;
  background-color:rgba(0,0,0,0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#login_modal_content {
  background-color: white;
  z-index:100;
  width:100%;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 8px  rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

@media ( min-width: 450px ) {
  #login_modal_content {
    width:350px;
  }
}